<!doctype html>
<html lang="en">
    <head>
        {% block title %}<title>Toy Factory</title>{% endblock %}
    </head>
    <body>
        <div id="navigation">
            <li><a href="{% url 'index' %}">Домашняя страница</a></li>
            <li><a href="{% url 'toys_list' %}">Игрушки</a></li>
            <li><a href="{% url 'promocodes' %}">Промокоды</a></li>
            <li><a href="{% url 'news_list' %}">Новости</a></li>
            <li><a href="{% url 'feedbacks' %}">Отзывы</a></li>
            <li><a href="{% url 'termines' %}">Словарь</a></li>
            <li><a href="{% url 'vacations' %}">Вакансии</a></li>
            <li><a href="{% url 'policy' %}">Политика конфиденциальности</a></li>
            <li><a href="{% url 'about' %}">О компании</a></li>
            {% if user.is_authenticated %} 
                <li><a href="{% url 'profile' user.pk %}">Профиль</a></li>
                <l  i><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'login_client' %}">Войти</a></li>
            {% endif %}
        </div>
        {% block content %} {% endblock %}
    </body>
</html>